@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ticker {
  animation: ticker 28s linear infinite;
}

.animate-fadeOut {
  animation: fadeOut 2.5s ease-in-out forwards;
}

/* Custom Leaflet Pin Tweaks */
.custom-leaflet-pin {
  background: transparent;
  border: none;
}